.Success {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: black;
    background-color: rgb(94, 155, 102);
    font-weight: 700;
    font-style: italic;
}